.btn-learn-more {
    border-color: lightslategrey;
    background-color: lightgrey;
    border-style: dotted;

}

.btn-register {
    color:darkred;
    background-color:pink;
    border-color: palevioletred;
}