.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.btn-login
{
    border-color: lightslategrey;
    background-color: rgb(174, 205, 184);
    border-style: dotted; 
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

  
